Auto-Reload Data files

In [932]:
%reload_ext autoreload
%autoreload 2

Turn CSV data into a dataframe, make a dataframe with only needed columns

In [933]:
import pandas as pd


file_name: str = "september_data.csv"

all_data = pd.read_csv(file_name)

all_data.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Project.1,Q1 Number,Q2 Number,Q3 Number,Q4 - Parent Topics,Q4 - Topics,Quarter,Size,T-Shirt Size.1,Department.1
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Project,Q1 Number,Q2 Number,Q3 Number,Q4 - Parent Topics,Q4 - Topics,Quarter,Size,T-Shirt Size,Department
1,"{""ImportId"":""startDate"",""timeZone"":""America/Ne...","{""ImportId"":""endDate"",""timeZone"":""America/New_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""Projec_CEDeeaifok""}","{""ImportId"":""Q1_Num_DERIVEDkr1518f""}","{""ImportId"":""Q2_Num_DERIVED712m9sa""}","{""ImportId"":""Q3_Num_DERIVEDye4mq5a""}","{""ImportId"":""QID8_TEXT_7454eb3fe5214534ad2052b...","{""ImportId"":""QID8_TEXT_7454eb3fe5214534ad2052b...","{""ImportId"":""Quarte_CEDhf2qyjk""}","{""ImportId"":""Size_CEDrsc9t96""}","{""ImportId"":""T-Shir_CEDq9oy37k""}","{""ImportId"":""Tower_CEDmxrdy3u""}"
2,2020-11-11 15:48:31,2020-11-11 15:50:30,IP Address,104.1.156.197,100,118,True,2020-11-11 15:50:30,R_2CgpZU1HjDxaAiH,Westervelt,...,Annual Faculty Review in Qualtrics,2,2,1,NaN,Unknown,FY2020-21 Q2,Extra Small,NaN,"Application, Website, and Data"
3,2020-11-13 14:41:45,2020-11-13 14:42:06,IP Address,108.77.85.4,100,20,True,2020-11-13 14:42:06,R_W1144G4SNKlOZ0Z,Chi,...,OBG Global Women's Health WebApp,2,1,1,NaN,NaN,FY2020-21 Q2,Large,NaN,"Application, Website, and Data"
4,2020-11-13 13:27:16,2020-11-13 23:22:58,IP Address,69.218.218.110,100,35741,True,2020-11-13 23:22:58,R_2uJwtXcViHwvME6,Chung,...,Web Redesign - Clinical Informatics,1,1,1,NaN,Unknown,FY2020-21 Q2,Extra Small,NaN,"Application, Website, and Data"

Make a new dataframe from the data, this time only taking the needed columns and rows (the first two rows were unneeded)

In [934]:
all_data.drop([0,1], axis = 0, inplace = True)

data = all_data.reset_index()[["StartDate", "EndDate", "Q1", "Q2", "Q3", "Q4", "PMO - Led", "Quarter"]].copy()

data.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter
0,2020-11-11 15:48:31,2020-11-11 15:50:30,Somewhat agree,Somewhat agree,Strongly agree,This team is such a pleasure to work with. I'm...,NaN,FY2020-21 Q2
1,2020-11-13 14:41:45,2020-11-13 14:42:06,Somewhat agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2
2,2020-11-13 13:27:16,2020-11-13 23:22:58,Strongly agree,Strongly agree,Strongly agree,Brad provided excellent customer service and h...,NaN,FY2020-21 Q2
3,2020-11-15 21:23:33,2020-11-15 21:24:18,Strongly agree,Strongly agree,Strongly agree,Nope! Great job and the team was very helpful...,NaN,FY2020-21 Q2
4,2020-11-16 14:45:58,2020-11-16 14:46:36,Strongly agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2

Create a new column in the dataframe for the year of the response based on the EndDate field

In [935]:
year = list()
i: int = 0
while i < len(data):
    year.append(data["EndDate"][i][0:4])
    i += 1

data["Year"] = year

data.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year
0,2020-11-11 15:48:31,2020-11-11 15:50:30,Somewhat agree,Somewhat agree,Strongly agree,This team is such a pleasure to work with. I'm...,NaN,FY2020-21 Q2,2020
1,2020-11-13 14:41:45,2020-11-13 14:42:06,Somewhat agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020
2,2020-11-13 13:27:16,2020-11-13 23:22:58,Strongly agree,Strongly agree,Strongly agree,Brad provided excellent customer service and h...,NaN,FY2020-21 Q2,2020
3,2020-11-15 21:23:33,2020-11-15 21:24:18,Strongly agree,Strongly agree,Strongly agree,Nope! Great job and the team was very helpful...,NaN,FY2020-21 Q2,2020
4,2020-11-16 14:45:58,2020-11-16 14:46:36,Strongly agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020

Same as previous step, except we create a month column

In [936]:
month = list()
i: int = 0
while i < len(data):
    month.append(data["EndDate"][i][5:7])
    i += 1

data["Month"] = month

data.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month
0,2020-11-11 15:48:31,2020-11-11 15:50:30,Somewhat agree,Somewhat agree,Strongly agree,This team is such a pleasure to work with. I'm...,NaN,FY2020-21 Q2,2020,11
1,2020-11-13 14:41:45,2020-11-13 14:42:06,Somewhat agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11
2,2020-11-13 13:27:16,2020-11-13 23:22:58,Strongly agree,Strongly agree,Strongly agree,Brad provided excellent customer service and h...,NaN,FY2020-21 Q2,2020,11
3,2020-11-15 21:23:33,2020-11-15 21:24:18,Strongly agree,Strongly agree,Strongly agree,Nope! Great job and the team was very helpful...,NaN,FY2020-21 Q2,2020,11
4,2020-11-16 14:45:58,2020-11-16 14:46:36,Strongly agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11

Making use of the month column, we make a Quarter column (denoted as Q so as to not be confused with the Qualtrics data field)

In [937]:
quarter = list()
i: int = 0
while i < len(data):
    if data["Month"][i] == "07" or data["Month"][i] == "08" or data["Month"][i] == "09":
        quarter.append("1")
    elif data["Month"][i] == "10" or data["Month"][i] == "11" or data["Month"][i] == "12":
        quarter.append("2")
    elif data["Month"][i] == "01" or data["Month"][i] == "02" or data["Month"][i] == "03":
        quarter.append("3")
    elif data["Month"][i] == "04" or data["Month"][i] == "05" or data["Month"][i] == "06":
        quarter.append("4")
    i += 1

data["Q"] = quarter

data.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q
0,2020-11-11 15:48:31,2020-11-11 15:50:30,Somewhat agree,Somewhat agree,Strongly agree,This team is such a pleasure to work with. I'm...,NaN,FY2020-21 Q2,2020,11,2
1,2020-11-13 14:41:45,2020-11-13 14:42:06,Somewhat agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11,2
2,2020-11-13 13:27:16,2020-11-13 23:22:58,Strongly agree,Strongly agree,Strongly agree,Brad provided excellent customer service and h...,NaN,FY2020-21 Q2,2020,11,2
3,2020-11-15 21:23:33,2020-11-15 21:24:18,Strongly agree,Strongly agree,Strongly agree,Nope! Great job and the team was very helpful...,NaN,FY2020-21 Q2,2020,11,2
4,2020-11-16 14:45:58,2020-11-16 14:46:36,Strongly agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11,2

Calculate Fiscal Year based off of the month and the year

In [938]:
fiscal_year: list[int] = list()

i: int = 0
while i < len(data):
    fiscal_year.append(data["Year"][i][2:4])
    fiscal_year[i] = int(fiscal_year[i])
    i += 1

# if data["Month"] == "01" or data["Month"] == "02" or data["Month"] == "03" or data["Month"] == "04" or data["Month"] == "05" or data["Month"] == "06":
#     fiscal_year = data["Year"]
i: int = 0
while i < len(data):
    if data["Month"][i] == "07" or data["Month"][i] == "08" or data["Month"][i] == "09" or data["Month"][i] == "10" or data["Month"][i] == "11" or data["Month"][i] == "12":
        fiscal_year[i] += 1
    i += 1

fiscal_year_str: list[str] = list()
for item in fiscal_year:
    fiscal_year_str.append(str(item))


data["Fiscal Year"] = fiscal_year_str

data.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q,Fiscal Year
0,2020-11-11 15:48:31,2020-11-11 15:50:30,Somewhat agree,Somewhat agree,Strongly agree,This team is such a pleasure to work with. I'm...,NaN,FY2020-21 Q2,2020,11,2,21
1,2020-11-13 14:41:45,2020-11-13 14:42:06,Somewhat agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11,2,21
2,2020-11-13 13:27:16,2020-11-13 23:22:58,Strongly agree,Strongly agree,Strongly agree,Brad provided excellent customer service and h...,NaN,FY2020-21 Q2,2020,11,2,21
3,2020-11-15 21:23:33,2020-11-15 21:24:18,Strongly agree,Strongly agree,Strongly agree,Nope! Great job and the team was very helpful...,NaN,FY2020-21 Q2,2020,11,2,21
4,2020-11-16 14:45:58,2020-11-16 14:46:36,Strongly agree,Strongly agree,Strongly agree,NaN,NaN,FY2020-21 Q2,2020,11,2,21

Filter based off of Fiscal Year

In [939]:
needed_fy: str = input("What is the needed Fiscal year? (Enter the last two digits of the Fiscal Year")

fy_filter: list[bool] = data["Fiscal Year"] == needed_fy

data_in_year = data[fy_filter]

data_in_year.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q,Fiscal Year
43,2021-07-20 09:20:16,2021-07-20 09:21:19,Strongly agree,Strongly agree,Somewhat agree,It would have been helpful to have meeting pri...,No,FY2021-22 Q1,2021,07,1,22
44,2021-07-28 16:01:26,2021-07-28 16:06:42,Strongly agree,Strongly agree,Strongly agree,Your team did a fantastic job of leading us th...,No,FY2021-22 Q1,2021,07,1,22
45,2021-07-28 16:13:53,2021-07-28 16:14:57,Strongly agree,Strongly agree,Strongly agree,Ian does exceptional work and is such a pleasu...,No,FY2021-22 Q1,2021,07,1,22
46,2021-07-28 16:18:26,2021-07-28 16:20:35,Strongly agree,Strongly agree,Strongly agree,Ian continues to rock the development projects...,No,FY2021-22 Q1,2021,07,1,22
47,2021-07-29 06:31:12,2021-07-29 06:32:29,Strongly agree,Strongly agree,Strongly agree,Jeff was able to keep the entire team informed...,Yes,FY2021-22 Q1,2021,07,1,22

Filter based on Quarter

In [940]:
needed_quarter: str = input("What is your target quarter? (Type a number 1-4) If you would like to select the whole year, do not give a response.")

if needed_quarter != "":
    quarter_filter = data_in_year["Q"] == needed_quarter
    data_in_quarter = data_in_year[quarter_filter]
else: 
    data_in_quarter = data_in_year

data_in_quarter.head()

,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q,Fiscal Year
43,2021-07-20 09:20:16,2021-07-20 09:21:19,Strongly agree,Strongly agree,Somewhat agree,It would have been helpful to have meeting pri...,No,FY2021-22 Q1,2021,07,1,22
44,2021-07-28 16:01:26,2021-07-28 16:06:42,Strongly agree,Strongly agree,Strongly agree,Your team did a fantastic job of leading us th...,No,FY2021-22 Q1,2021,07,1,22
45,2021-07-28 16:13:53,2021-07-28 16:14:57,Strongly agree,Strongly agree,Strongly agree,Ian does exceptional work and is such a pleasu...,No,FY2021-22 Q1,2021,07,1,22
46,2021-07-28 16:18:26,2021-07-28 16:20:35,Strongly agree,Strongly agree,Strongly agree,Ian continues to rock the development projects...,No,FY2021-22 Q1,2021,07,1,22
47,2021-07-29 06:31:12,2021-07-29 06:32:29,Strongly agree,Strongly agree,Strongly agree,Jeff was able to keep the entire team informed...,Yes,FY2021-22 Q1,2021,07,1,22

Filter based on PMO

In [941]:
pmo_led = data["PMO - Led"] == "Yes"
non_pmo_led = data["PMO - Led"] == "No"
pmo_led_string: str = input("PMO-Led? (Enter 'Y' (yes) 'N' (no) or 'B' (both)): ")
pmo_filter: list[bool]

while pmo_led_string != "Y" and pmo_led_string != "N" and pmo_led_string != "B":
    pmo_led_string: str = input("PMO-Led? (Please enter 'Y' or 'N'): ")
if pmo_led_string == "Y":
    pmo_filter = data_in_quarter["PMO - Led"] == "Yes"
elif pmo_led_string == "N":
    pmo_filter = data_in_quarter["PMO - Led"] == "No"
elif pmo_led_string == "B":
    filtered_by_pmo = data_in_quarter

unindexed_pmo = data_in_quarter[pmo_filter]
filtered_by_pmo = unindexed_pmo.reset_index()

filtered_by_pmo

,index,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q,Fiscal Year
0,47,2021-07-29 06:31:12,2021-07-29 06:32:29,Strongly agree,Strongly agree,Strongly agree,Jeff was able to keep the entire team informed...,Yes,FY2021-22 Q1,2021,07,1,22
1,50,2021-08-04 16:32:00,2021-08-04 16:34:18,Strongly agree,Strongly agree,Strongly agree,Thank you for your team's work on getting the ...,Yes,FY2021-22 Q1,2021,08,1,22

Assign a score for each question based on Likert Scale

In [942]:
filtered_by_pmo["Q1"][0]

'Strongly agree'

In [943]:

def score_assign(question: str):

    score: list[int] = list()
    i: int = 0
    while i < len(filtered_by_pmo):
        if filtered_by_pmo[question][i] == "Strongly agree":
            score.append(5)
        elif filtered_by_pmo[question][i] == "Somewhat agree":
            score.append(4)
        elif filtered_by_pmo[question][i] == "Neither agree nor disagree":
            score.append(3)
        elif filtered_by_pmo[question][i] == "Somewhat disagree":
            score.append(2)
        elif filtered_by_pmo[question][i] == "Strongly disagree":
            score.append(1)
        i += 1

    score_str = list()
    for item in score:
        score_str.append(item)
    return score_str


filtered_by_pmo["Q1 Score"] = score_assign("Q1")
filtered_by_pmo["Q2 Score"] = score_assign("Q2")
filtered_by_pmo["Q3 Score"] = score_assign("Q3")

filtered_by_pmo

,index,StartDate,EndDate,Q1,Q2,Q3,Q4,PMO - Led,Quarter,Year,Month,Q,Fiscal Year,Q1 Score,Q2 Score,Q3 Score
0,47,2021-07-29 06:31:12,2021-07-29 06:32:29,Strongly agree,Strongly agree,Strongly agree,Jeff was able to keep the entire team informed...,Yes,FY2021-22 Q1,2021,07,1,22,5,5,5
1,50,2021-08-04 16:32:00,2021-08-04 16:34:18,Strongly agree,Strongly agree,Strongly agree,Thank you for your team's work on getting the ...,Yes,FY2021-22 Q1,2021,08,1,22,5,5,5

Calculate KPIs!

First, calculate the sum of each column of scores

In [944]:
def score_sum(score: str) -> float:
    """calculates the sum of each column of scores"""
    sum: float = 0
    k: int = 0
    while k < len(filtered_by_pmo):
        sum += filtered_by_pmo[score][k]
        k += 1
    return sum

Client Satisfaction

In [945]:
client_satisfaction: str = str((score_sum("Q1 Score") + score_sum("Q2 Score") + score_sum("Q3 Score"))  / (len(filtered_by_pmo) * 3))

PM Communicaitons

In [946]:
pm_communications: str = str(score_sum("Q2 Score")/ (len(filtered_by_pmo)))

Change Mgmt.

In [947]:
change_mgmt: str = str(score_sum("Q3 Score") / (len(filtered_by_pmo)))

All metrics printed:

In [948]:
print("Client satisfaction: " + client_satisfaction + " PM Communication: " + pm_communications + " Change mgmt. " + change_mgmt)

Client satisfaction: 5.0 PM Communication: 5.0 Change mgmt. 5.0